<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ asset('css/estilo.css') }}">
    </head>
      <body>

      <header>

        <nav class="navbar navbar-inverse">
          <section class="container-fluid">
            <article class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </article>
            <article class="collapse navbar-collapse" id="myNavbar">
              <img src="" alt="">
              <ul class="nav navbar-nav">
                <li><a href="{{ path('mostrar_jornada') }}">Jornada</a></li>
                <li><a href="{{ path('mostrar_plantilla') }}">Plantilla</a></li>
                <li><a href="{{ path('mostrar_usuarios') }}">Usuarios</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('user_registration') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="{{ path('login_user') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="/usuarios/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
              </ul>
            </article>
          </section>
        </nav>
        <div class="container">
          <h1>Maristas Cullera Senior FS</h1>
        <div class="container">
          <div class="jumbotron">
            <h1>Pagina Oficial</h1>
            <p>Maristas Cullera FS</p>
          </div>
        </div>
      </div>
      </header>


      <section class="container">
        <section class="main row">
          <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% block body %}{% endblock %}
          </article>
        </section>
      </section>

    </body>
</html>
